{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    
<br>
<h1 class="text-center">Change password</h1>
<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-3">
    <form method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark">Update Password</button>

    </form>
    <br>
    <ul> 
        <li>Your password can’t be too similar to your other personal. </li>
        <li>Your password must contain at least 8 characters. </li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
</div>

{% endblock %}