{% extends 'base.html' %}
{% load static %}
{% block title %}
    Data science blogs
{% endblock %}

{% block content %}
<h1>Blogs</h1>
<hr style="height:4px;border-width:0;color:#14081f;background-color:#14081f">
{% for post in object_list %}
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            {% if post.image %}
                <a style="text-decoration: none;color: black;" href="{% url 'artical-detail' post.pk %}"><img src="{{ post.image.url }}" alt="" width="100%" height="100%"></a>
            {% endif %}
        </div>
        <div class="col-sm-7 mt-4">
            <div class="text-muted mb-3">{{ post.author.first_name}} {{ post.author.last_name}} - {{post.pub_date}}</div>
            <a style="text-decoration: none;color: black;" href="{% url 'artical-detail' post.pk %}"><h4>{{ post.title }}</h4></a>
            <p class="card-text">{{ post.snippet }}</p>
            <a style="text-decoration: none;" href="{% url 'category' post.category|slugify %}"><h6 class="card-title text-dark"><b>For more related topics on <span class="text-primary">{{post.category}}</span></b></h6></a>
            <a href="{% url 'artical-detail' post.pk %}" style="text-decoration: none;color: black;"><b>Read More ></b></a>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <a class="btn btn-sm" style="text-decoration: none;float: right;" href="{% url 'delete-post' post.pk %}"><b>Delete</b></a>
                    <a class="btn btn-sm" style="text-decoration: none;float: right;" href="{% url 'update-post' post.pk %}"><b>Edit</b></a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<hr>
{% endfor %}

<hr style="height:4px;border-width:0;color:#14081f;background-color:#14081f">
<div class="mx-auto d-block">
    {% for item in cat_menu %}
        <a href="{% url 'category' item|slugify %}" class="btn btn-dark">{{item}}</a>
    {% endfor %}
</div>
<br>
<br>
{% endblock %}
